<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form method="POST" action="/create-email">
    <input type='text' name='email' placeholder='Please put an email here'>
    <button type='submit'>Send</button>
  </form>

</body>

</html>